body{
  overflow: hidden;
  margin: 0;
  background: white;
}

/* ---------------------------------------- Start Screen ------------------------------------------------------------------------------ */
#play{
  position: absolute;
  height: 100vh;
  width: 100vw;
  visibility: visible; 
}

#png{
  margin: 0 auto;
  padding: 10em 0em 20em 45em;
  position: fixed;
  z-index: -1;
}

#start{
  height: 150px;
  width: 150px;
  background: bisque;
  color: black;
  margin-top: 15%;
  margin-left: 44%;
  border-radius: 50%;
  border-color: black;
}

#start:hover {
  background: salmon;
  color: black;
}

#inst {
  font-size: 1.875em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: blueviolet;
}


#txt1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  color: blueviolet;

}

#txt2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  color: blueviolet;

}



/* ---------------------------------------- Game Screen ------------------------------------------------------------------------------ */
#game {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: wheat;
  visibility: hidden;
}

#reset {
  height: 50px;
  width: 200px;
  background: mediumturquoise;
  color: black;
}

#reset:hover {
  background: deepskyblue;
  color: black;
}

#three {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: blueviolet;
}

#two{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: blueviolet;
  visibility: hidden;
}

#one{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: blueviolet;
  visibility: hidden;
}

/* -------------------------------------------------- targets ------------------------------------------------------------- */

#target {
  height: 100px;
  width: 100px;
  background-color: black;
  /* border-radius: 50%; */
}